div {
	text-align: center;
	width: 100%;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

@media screen and (min-width: 960px) {
/*PC*/
}

@media (prefers-color-scheme: dark) {

	a:link { color: #009999; }
	a:visited { color: #009999; }
	a:active { color: #009999; }

	body, input, select, textarea {
		background-color: #222222;
		color: #eeeeee;
	}
}